/**
 * border radius
 */

.btn,
.jumbotron,
.nav :hover {
    border-radius: 0px;
}

/* cart badge */

.cart-badge,
.cart-badge:hover {
    border-radius: 50%;
    padding: 2px;
    font-size: 12px;
    font-style: italic;
    background: #000;
}
/**
 * single product page - product name
 */

.name {
    background-color: rgba(0,0,0,.2);
    border-bottom: 1px solid rgba(0,0,0,.125);
    color: #443c42;
    font-weight: bold;
    
}

/* black shade form 10-1 */
.black-10 {
    background: #f2f2f2;
}
.black-9 {
    background: #e6e6e6;
}
.black-7 {
    background: #cccccc;
}
.black-6 {
    background: #bfbfbf;
}
.black-5 {
    background: #b3b3b3;
}

/**
 * product image on card
 */

.product-img {
    min-height: 100px;
}

.jumbotron h2 {
    margin-top: -20px;
}

@media only screen and (max-width: 600px) {
    .jumbotron h2 {
        margin-top: 10px;
    }
}



.jumbotron {
    height: 180px;
    color: #fff;
    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/images/76.webp');
    background-size: 400% 400%;
}
    
       

.text-gray-soft {
    color: #838E95 !important;
}

